@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&display=swap');



@media (min-width: 600px) {

    .home {
        background-image: url("https://drive.google.com/uc?export=view&id=1-fSL7MBS_TVcAwO-CQgRrwbm4i3po3df");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #000000;
        animation-duration: 5s;
        animation-name: zoomIn;
    }

    .home-content {
        padding: 50px 0px 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 30vw;
        border-radius: 20px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation-duration: 2s;
        animation-name: zoomIn;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .home-content-a {
        display: flex;
        min-height: 30vh;
    }

    .home-content-b {
        display: flex;
        min-height: 30vh;
    }

    .home-content-c {
        display: flex;
    }

    .date-and-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-icon {
        height: auto;
        max-width: 5vw;
        animation-duration: 3s;
        animation-name: ringsSwing;
        animation-delay: 2s;
    }

    @keyframes ringsSwing {
        0% {
            transform: rotateZ(0);
        }

        16% {
            transform: rotateZ(0.2turn);
        }

        32% {
            transform: rotateZ(0);
        }

        48% {
            transform: rotateZ(-0.2turn);
        }

        64% {
            transform: rotateZ(0);
        }

        80% {
            transform: rotateZ(0.2turn);
        }

        96% {
            transform: rotateZ(0);
        }

    }


    .home-phrase-text {
        font-family: 'Galada', cursive;
        color: #2A4671;
        font-size: 2em;
        margin-top: 8px;
    }


    .home-date {
        font-family: 'Denk One', sans-serif;
        font-size: 1.5em;
        text-shadow: none;
        color: #2A4671;
    }

    .home-title {
        display: flex;
        gap: 8px;
    }

    .home-title>h2 {
        margin: 0px;
        font-size: 8em;
        color: #444C68;
        font-family: 'Dancing Script', cursive;
        font-weight: 300;
    }

    .middle-title {
        margin: 0px;
        padding-top: 50px;
        font-size: 4em;
        color: #444C68;
        font-family: 'Gentium Book Basic', serif;
        transform: rotate(15.13deg);
    }

}


@media (max-width: 600px) {
    .home {
        background-image: url("https://drive.google.com/uc?export=view&id=1-fSL7MBS_TVcAwO-CQgRrwbm4i3po3df");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 5s;
        animation-name: zoomIn;
    }

    .home-content {
        margin: 20px 0px 0px 0px;
        padding: 50px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-duration: 2s;
        animation-name: zoomIn;
    }

    @keyframes zoomIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .home-content-a {
        padding: 0px 0 0 0;
    }

    .home-content-b {
        padding: 100px 16px 60px 16px;
    }

    .home-content-c {
        display: flex;
        flex-direction: column;
    }

    .home-empty-div {
        height: 100px;
    }


    .date-and-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-phrase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .home-phrase-text {
        font-family: 'Galada', cursive;
        color: #2A4671;
        font-size: 2em;
        margin-top: 8px;
    }


    .home-icon {
        height: auto;
        max-width: 10vw;
        animation-duration: 3s;
        animation-name: ringsSwing;
        animation-delay: 2s;
    }

    @keyframes ringsSwing {
        0% {
            transform: rotateZ(0);
        }

        16% {
            transform: rotateZ(0.2turn);
        }

        32% {
            transform: rotateZ(0);
        }

        48% {
            transform: rotateZ(-0.2turn);
        }

        64% {
            transform: rotateZ(0);
        }

        80% {
            transform: rotateZ(0.2turn);
        }

        96% {
            transform: rotateZ(0);
        }

    }

    .home-date {
        font-family: 'Denk One', sans-serif;
        margin-top: 40px;
        font-size: 2em;
        text-shadow: none;
        color: #2A4671;
    }

    .home-title {
        display: flex;
        gap: 8px;
    }

    .home-title>h2 {
        margin: 0px;
        font-size: 2.7em;
        color: #444C68;
        font-family: 'Denk One', sans-serif;
    }

    .middle-title {
        margin: 0px;
        padding-top: 8px;
        font-size: 2.2em;
        color: #444C68;
        font-family: 'Gentium Book Basic', serif;
        transform: rotate(27deg);
    }

}